.main-container{
    width:100%;
    height:100%;
    margin:40px;
    display:flex;
    justify-content:space-around;
}

.right-div p{
   position:relative;
}

.para{
    width:40vw;
}

.blog-right{
    display:flex;
    flex-direction:column;
}

.right-image{
    //position:absolute;
    margin-left:2rem;
    width:40vw;
    
}